@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
body{
    min-height: 300vh;
    background: linear-gradient(#8A2219,#F1AD4A);
    

}
 
 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
 }
 header .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
 header ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header ul li{
    list-style:none;
    margin: 20px;

 }
 header ul li a{
    text-decoration: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
 }
 header ul li a:hover,
 header ul li a.active{
    background: #fff;
    color:#8A2219;
 }
 .post-detail-container{
   margin-top: 5rem;
   padding-left: 50px;
   margin-bottom: 20px;
 }

 .post-detail-container .post-detail-image{
   
   transform: translateY(150px);
   display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
   width: 550px;
   height: auto;
   border-radius: 4px;
   overflow: hidden;
   border: 10px solid rgba(14, 14, 14, 0.255);
   object-fit: cover;

   
 }

 .post-detail-container h1,h2,h3{
   color: #ffffff;
   font-weight: bold;
   margin-top: 5rem;
   margin-bottom: 3rem;
   transform: translateY(100px);
   border-bottom: 2px solid #ffffff;
   width: fit-content;
 }

 .post-detail-container p{
   font-weight: 300;
   font-size: 18px;
   transform: translateY(40px);
   color: #fff;
   
 }
 .post-detail-container .post-date{
   font-weight: 600;
   font-size: 14px;
   
   color: #fff;
   
 }
 .post-detail-container .post-writer{
   font-size: 14px;
   
   color: #fff;
   
 }