@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
body{
    min-height: 500vh;
    background: linear-gradient(#8A2219,#F1AD4A);
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
}
 
 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
 }
 header .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
 }
 header ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header ul li{
    list-style:none;
    margin: 20px;

 }
 header ul li a{
    text-decoration: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
 }
 header ul li a:hover,
 header ul li a.active{
    background: #fff;
    color: #8A2219;
 }
section{
   position: absolute;
   transform: translateY(-1000px);
}
section h2{
   color: #fff;
   font-size: 24px;
   letter-spacing: 2px;
   font-weight: 500;
   text-align: center;
   justify-content: center;
}
section::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
}
.container{
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items:center ;
   flex-wrap: wrap;
   margin: 40px 0;
}
.container .card{
   position: relative;
   width: 300px;
   height: 400px;
   background: rgba(255, 255, 255, 0.05);
   margin: 20px;
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.container .card .content{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.container .card .content .imgBx{
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   overflow: hidden;
   border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .imgBx a img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h3{
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   margin: 20px 0 10px;
   line-height: 1.1em;

}
.container .sci{
   position: absolute;
   bottom: 100px;
   display: flex;
   transform: translateY(50px);
   
}
.container .sci li{
   list-style: none;
}
.container .sci li a{
   color:#fff ;
   font-size: 24px;
}

@media  screen and (max-width: 1180px) {
   section{
       transform: translateY(180px);
       align-items: center;
       justify-content: center;
       text-align: center;

   
}
}
@media  screen and (max-width: 650px) {
   section{
      transform: translateY(180px);
      align-items: center;
      justify-content:center ;
      text-align: center;
   }
   section h2{
      
      text-align: center;
      justify-content: center;
   }
}